html/wp-admin
html/wp-content/languages
html/wp-content/plugins
html/wp-content/index.php
html/wp-content/themes/index.php
html/wp-content/themes/twentytwentyfour
html/wp-content/themes/twentytwentythree
html/wp-content/themes/twentytwentytwo
html/wp-content/upgrade
html/wp-content/uploads
html/wp-includes
html/*.*

